.form {
  margin: 0;
  margin-top: 4px;
  max-width: 327px;

  @media (max-width: $tablet-width) {
    max-width: 324px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.form fieldset {
  padding: 0;
  margin: 0;
  border: none;

  p {
    margin: 0;
    margin-bottom: 20px;

    @media (max-width: $tablet-width) {
      margin-bottom: 17px;
    }
  }
}

.form legend {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: $basic-white;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    color: $basic-black;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 19px;
  }
}

.form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding: 14px 68px 10px 29px;
  width: 100%;
  border: none;
  border-radius: 6px;

  &::placeholder {
    font-family: $font-default;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: $input-color;
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    border: 1px solid $input-border;
    padding: 12px 57px 12px 21px;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 13px 19px 11px 26px;
  }
}

.form__button {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  width: 100%;
  border: none;
  background-color: $decoration-color;
  border-radius: 6px;
  padding: 15px 45px;

  @media (max-width: $tablet-width) {
    padding: 16px 49px 14px 50px;
  }

  @media (max-width: $mobile-width) {
    padding: 16px 28px;
  }
}
