.map {
  width: 957px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    background-image: url("/img/map-tablet.png");
    height: 530px;
    width: 698px;
  }

  @media (max-width: $mobile-width) {
    background-image: url("/img/map-mobile.png");
    width: 320px;
  }

  iframe {
    width: 100%;

    @media (min-width: $tablet-width) {
      height: 545px;
    }
  }
}
