.page__body {
  font-family: $font-default;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: $basic-black;
  overflow-x: hidden;
  margin: 0;
  position: relative;
}

.page__header {
  background-color: $main-background;
  background-image: url("../img/main-background-desktop@1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    background-image: none;
    background-color: transparent;
  }
}
