.promo {
  position: relative;
  // min-width: 1440px;
  background-color: $video-background;
  z-index: -1;
  padding-top: 260px;
  padding-bottom: 240px;

  @media (max-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 70px;
    background-color: $basic-white;
  }
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding: 0;
  }
}

.promo__image {
  position: absolute;
  // min-width: 1440px;
  z-index: -1;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $basic-black;
  right: 50%;
  top: -8%;
  transform: translateX(50%);
  height: 825px;

  @media (max-width: $tablet-width) {
    background-image: url("/img/main-background-tablet@1x.png");
    height: 340px;
    top: -2%;
  }
}

.promo__title {
  & h2 {
    margin: 0;
    margin-top: 28px;
    margin-bottom: 24px;
    font-family: $font-default;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 64px;
    color: $basic-white;
  }

  & p {
    margin: 0;
    font-family: $font-default;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: $basic-white;
    opacity: 0.8;
  }

  &--text {
    max-width: 350px;
  }

  @media (max-width: $tablet-width) {
    // width: auto;
    margin-bottom: 150px;

    & img {
      margin-bottom: 95px;
      padding-left: 0;
    }

    & h2 {
      margin-top: 0;
      padding-left: 96px;
      padding-right: 96px;
    }

    &--text {
        max-width: 525px;
        margin: 0 auto;


      & h2 {
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 20px;
        padding: 0;
      }

      & p {
        text-align: center;
        width: 435px;
        margin: 0 auto;
      }
    }
  }
}

.promo__form {
  @media (max-width: $tablet-width) {

  }
}
