.promo {
  position: relative;
  min-width: 350px;

  h2 {
    margin: 28px 0 25px;
    font-weight: bold;
    font-size: 46px;
    line-height: 64px;
    color: $basic-white;
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: $basic-white;
    opacity: 0.8;
  }

  @media (max-width: $tablet-width) {
    min-width: 100%;
    background-image: url("../img/main-background-tablet@1x.png");
    background-color: $main-background;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    min-height: 340px;

    h2 {
      text-align: center;
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 20px;
      margin-top: 88px;
      padding: 0;
    }

    p {
      text-align: center;
      font-size: 18px;
      line-height: 32px;
      padding-left: 166px;
      padding-right: 166px;
    }
  }

  @media (max-width: $mobile-width) {
    min-height: 390px;

    background-image: url("../img/main-background-mobile@1x.png");

    h2 {
      margin-top: 75px;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 20px;
    }

    p {
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.promo__intro {
  min-width: 350px;
}

.promo__form {
  padding-top: 260px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}


.promo__link {
  display: block;
  width: 68px;
  height: 21px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    align-self: flex-start;
    margin-left: 21px;
    margin-top: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 16px;
  }
}
