.social {
  padding-top: 26px;
  padding-bottom: 98px;
  position: relative;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-bottom: 55px;
    padding-top: 14px;
    max-width: 698px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 31px;
    padding-bottom: 51px;
  }
}

.social__list {
  @include list-reset;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  font-family: $font-default;

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
}

.social__mail {
  margin: 0;
  padding: 0;
  text-align: right;

  & a {
    color: $social-color;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding-left: 13px;
  }
}

.social__phone {
  margin: 0;
  padding: 0;
  text-align: left;

  & a {
    color: $social-color;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    padding-left: 17px;
  }

  & img {
    margin-left: 62px;
  }
}
