.video {
  padding-top: 122px;
  padding-bottom: 150px;
  background-image: linear-gradient(to bottom, $video-background 706px, $basic-white 248px);

  @media (max-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: linear-gradient(to bottom, $video-background 413px, $basic-white 155px);
  }

  @media (max-width: $mobile-width) {
    padding-top: 81px;
    padding-bottom: 70px;
    background-image: linear-gradient(to bottom, $video-background 385px, $basic-white 155px);
  }
}

.video__title {
  max-width: 370px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    max-width: 430px;
  }

  h2 {
    color: $basic-white;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 20px;


    @media (max-width: $tablet-width) {
      font-size: 24px;
    }
  }

  p {
    color: $basic-white;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.7;
    text-align: center;
    margin: 0;
    margin-bottom: 56px;

    @media (max-width: $tablet-width) {
      padding: 0;
      margin-bottom: 40px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 54px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.video__block {
  position: relative;
  width: 929px;
  height: 522px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    background-image: url("/img/vide-background-tablet.png");
    width: 503px;
    height: 282px;
  }

  @media (max-width: $mobile-width) {
    background-image: url("/img/video-background-mobile.png");
    width: 288px;
    height: 162px;
  }
}

.video__button {
  position: absolute;
  border-radius: 50%;
  font-size: 0;
  width: 65px;
  height: 65px;
  border: 0;
  background: $decoration-color url("../img/play-icon.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: left 28px center;
  background-size: 13px 18px;
  top: 43%;
  left: 47%;

  @media (max-width: $tablet-width) {
    width: 90px;
    height: 90px;
    background-size: 18px 25px;
    background-position: left 38px center;
    top: 96px;
    left: 41%;
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
    background-size: 13px 18px;
    background-position: left 27px center;
    top: 50px;
    left: 39%;
  }
}
