$basic-white: #ffffff;
$basic-black: #000000;
$decoration-color: #0ad9c6;
$video-background: #131314;
$input-color: #1c1c1c;
$contacts-color: #1f1f1f;
$contacts-color-bottom: rgba(0, 0, 0, 0.7);
$social-color: rgba(0, 0, 0, 0.5);
$borded-color: rgba(255, 255, 255, 0.2);
$bicycles-background: #f6f7f9;
$input-border: #c9ccd4;
$tablet-background: #e5e5e5;

$tablet-width: 1023px;
$mobile-width: 767px;

$font-default: "Open Sans", "Arial", sans-serif;
